@import "./modules/color";
@import "./modules/font";

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: $primary-color;
  z-index: 999;
  position: sticky;
  color: white;
  top: 0;
  z-index: 1000;
}
.containerLeft,
.containerRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    padding: 0.5rem;

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}
.toggle {
  display: none;
  padding: 0 1rem;
}
.title {
  h1 {
    font-size: $font-large;
    margin: 0 1rem;
    color: white;
    font-style: italic;
    font-weight: 200;
  }
}
.nav {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

@media (max-width: 800px) {
  .toggle {
    display: inline;
  }
  .containerLeft {
    width: 100%;
  }
  .title {
    flex: auto;
    text-align: center;
  }
  .nav {
    display: none;
  }
  .searchBar {
    display: none;
  }
}
