@import "./modules/color";

.ListProductsContainer {
  display: column;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: auto;
  }
}
.filterProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: 90%;
  }
}
.productsGrid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  gap: 2rem;
  @media (max-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      gap: 1rem;
      margin: 2rem 0.5rem;
  }
}
